<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" verbose="5" name="Test suite" parallel="tests">

    <listeners>
        <listener class-name="utils.RetryListener"/>
    </listeners>

    <test name="loginUsingValidCredentials">
        <classes>
            <class name="tests.WrongCredsTests"/>
        </classes>
    </test>

    <test name="Add a new task">
        <classes>
            <class name="tests.TodoistTest"/>
        </classes>
    </test>

</suite>